    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
            <link rel="sortcut icon" href="../assets/eLugarLogo.ico" type="image/x-icon" />
            <title>êLugar</title>

            <!-- Bootstrap Core CSS -->
            <link href="../../assets/stylesheets/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="../../assets/stylesheets/landing-page.css" rel="stylesheet">
            
            <!-- Custom Fonts -->
            <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
            <link href="jquery.bxslider.css" rel="stylesheet">


            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        </head>    
    <nav class="navbar navbar-default topnav" role="navigation">

    
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav" href="/"><img src="../assets/eLugarLogo.ico" class="logo" ></a>
                </div>
                <!-- Collect the nav links, forms, and other content     for toggling -->
                <div class="collapse navbar-collapse white" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                             <a href ="/sign_up"> Cadastro </a>
                         </li>
                        <!--  <li>
                             <a href ="/sign_in"> Login </a>
                         </li> -->
                         <li>
                             <a href="/about">Sobre</a>
                         </li>
                         <li>
                             <a href="/references">Referências</a>
                         </li>
                         <li>
                             <a href="contact">Contato</a>
                         </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </nav>

    <body>
        <div class = "col-lg-6 col-sm-6">      
          <div class="container">
            <div class= "row">
                <div class="col-lg-6 col-sm-4">
                    <h1>Sobre a aplicação...</h1>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">
                     O êLugar é uma iniciativa dos alunos da Universidade de Brasília das matérias de Métodos de Desenvolvimento de Software e Gestão de Projeto e Portfólio.
                     O site tem como preocupação principal auxiliar pessoas que desejam realizar uma mudança e querem saber como é a situação da cidade que elas têm interesse em migrar.
                     <h2 class="section-heading">Métricas</h2>
                     </p>
                     <p class="lead">
                     Nós disponibilizamos vários dados como população estimada, índice de desenvolvimento humano, densidade demográfica, entre outros. <br>
                     Alguns atributos das cidades são baseados em métricas definidas pelos desenvolvedores para melhor atender aos usuários:
            
                    <ul>
                        <li>
                            <p class="lead"> <b>Transporte: </b>  essa medida foi elaborada visando calcular o número de pessoas por ônibus em determinada cidade. Quanto menor for esse valor, significa que maior é a frota de ônibus da cidade e consequentemente, possui mais condições de atendê-la.
                            <br><br>
                            </p>
                        </li>
                        <li>
                            <p class="lead"><b>Saúde: </b>Essa medida foi elaborada visando determinar a capacidade da cidade de oferecer serviços de saúde suficientes para atender sua população, de maneira adequada. Ela calcula a quantidade de pessoas em relação a todos os estabelecimentos de saúde da cidade, mostrando qual a cobertura total deste serviço. <br></p>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-lg-5 col-sm-6">
        
            <div class="row">
                <div class="col-lg-12">
                            <img class="img-responsive" src="/assets/eLugarLogo.png" alt="" style="margin-top:30px;">
                            <br><br>
                </div>
            </div>


            <div class="row">
                
                <div class="col-lg-12">
                    <p class ="lead">
                        Avaliação de atributos das cidades: como funciona?<br><br>
                        <table class="table">
                            <tr>
                            <td>Índices</td>
                            <td><img class="emote img-responsive" src="/assets/emot1.png" alt=""></td>
                            <td><img class="emote img-responsive" src="/assets/emot2.png" alt=""></td>
                            <td><img class="emote img-responsive" src="/assets/emot3.png" alt=""></td>
                            <td><img class="emote img-responsive" src="/assets/emot4.png" alt=""></td>
                            <td><img class="emote img-responsive" src="/assets/emot5.png" alt=""></td>
                            </tr>   
                            <tr>
                                <td>Densidade demográfica, transporte, violência</td>
                                <td>Maior que 40% da média</td>
                                <td>Entre 10% e 40% da média</td>
                                <td>Entre 10% acima e abaixo da média</td>
                                <td>Entre -10% e -40% da média das cidades</td>
                                <td>Menor que 40% da média</td>
                            </tr>
                            <tr>
                                <td>Saúde</td>
                                <td>Menor que -40% da média</td>
                                <td>Entre -10% e -40% da média</td>
                                <td>Entre 10% acima e abaixo da média</td>
                                <td>Entre 10% e 40% da média das cidades</td>
                                <td>Maior que 40% da média</td>
                            </tr>
                             <tr>
                                <td>Índice de desenvolvimento humano</td>
                                <td>Abaixo de 0,3</td>
                                <td>Entre 0,3 e 0,399</td>
                                <td>Entre 0,4 e 0,599</td>
                                <td>Entre 0,6 e 0,7</td>
                                <td>Acima de 0,7</td>
                            </tr>
                            <tr>
                                <td>Índice de desigualdade(GINI)</td>
                                <td>Acima de 0,7</td>
                                <td>Entre 0,6 e 0,7</td>
                                <td>Entre 0,4 e 0,599</td>
                                <td>Entre 0,3 e 0,399</td>
                                <td>Menor que 0,3</td>
                            </tr>
                        </table>
                    </p>
                </div>
            

        </div>
        <!-- /.container -->

    </div>
    </div>
    </body>
