    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>êLugar</title>

            <!-- Bootstrap Core CSS -->
            <link href="../../assets/stylesheets/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="../../assets/stylesheets/landing-page.css" rel="stylesheet">
            
            <!-- Custom Fonts -->
            <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
            <link href="jquery.bxslider.css" rel="stylesheet">


            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        </head>    
    <nav class="navbar navbar-default topnav" role="navigation">

    <body>  
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav" href="/">êLugar</a>
                </div>
                <!-- Collect the nav links, forms, and other content     for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/about">Sobre</a>
                        </li>
                        <li>
                            <a href="#services">Referências</a>
                        </li>
                        <li>
                            <a href="#contact">Contato</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div class = "content-section-a">
         <h1>Sobre a aplicação...</h1> 
              
          <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Métricas</h2>
                    <p class="lead">
                     O êLugar é uma iniciativa dos alunos da Universidade de Brasília das matérias de Métodos de Desenvolvimento de Software e Gestão de Projeto e Portifólio.
                     O site tem como preocupação principal auxiliar pessoas que desejam realizar uma mudança e querem saber como é a situação da cidade que elas querem migrar. Nós disponibilizamos vários dados como população estimada, indíce de desenvolvimento humano, densidade demográfica, entre outras. <br>
                     Alguns atributos das cidades são baseados em métricas definidas pelos desenvolvedores para melhor atender aos usuários:
                    <ul>
                        <li>
                            <p class="lead"> <b>Transporte: </b>Essa medida foi elaborada visando calcular o número de pessoas por onibus em determinada cidade. Quanto menor for esse valor, significa que maior é a frota de ônibus da cidade e consequentemente, possui mais condições de atendê-la com maior qualidade.<br><br>
                            <b>Número de Pessoas/ Frota (Número de ônibus+ número de micro-ônibus) = Número de pessoas por onibus.</b><br></p>
                        </li>
                        <li>
                            <p class="lead"><b>Saúde: </b>Essa medida foi elaborada visando determinar a capacidade da cidade de oferecer serviços de saúde suficientes para atender sua população, de maneira adequada. Ela calcula a quantidade de pessoas em relação a todos os estabelecimentos de saúde da cidade.<br><br> 
                            <b>Número de pessoas / Número de estabelecimentos de saúde total = Número de pessoas por hospital.</b><br></p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-7">
                    <img class="img-responsive" src="/assets/eLugarLogo.png" alt="">
                    <br><br>

                </div>

            </div>
        </div>

    </body>
