    <body>
      <br><br><br>
        <div class = "col-lg-6 col-sm-6">
          <div class="container">
            <div class= "row">
                <div class="col-lg-6 col-sm-4">
                    <h1>Referências</h1>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">
                        O êLugar utiliza dados e imagens retirados de outros colaboradores. Abaixo você encontra as referências de cada imagem e dados utilizados neste projeto.
                    </p>
                    <div>
                        <div class="dropdownTeste">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Imagens
                            <span class="caret"></span></button>
                            <ul class="dropdownTeste-content">
                                <li><%=link_to 'Download', "static_pages/download_pdf"%></li>
                            </ul>
                        &nbsp;&nbsp;
                        </div>
                        <div class="dropdownTeste">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dados Abertos
                            <span class="caret"></span></button>
                            <ul class="dropdownTeste-content">
                                <li><a href="http://www.cidades.ibge.gov.br/xtras/home.php">Site do IBGE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.container -->

        </div>
        <div class = "col-lg-5 col-sm-6">

            <div class="row">
                <div class="col-lg-12">
                            <img class="img-responsive" src="/assets/eLugarLogo.png" alt="" style="margin-top:30px;">
                            <br><br>
                </div>
            </div>
        </div>
    </div>
    </body>
