<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="sortcut icon" href="../assets/eLugarLogo.ico" type="image/x-icon" />
    <title>êLugar</title>

    <link href="../../assets/stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/stylesheets/landing-page.css" rel="stylesheet">

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
    <%=render 'layouts/navbar' %>
  <div class ="intro-header-compare">
          </br>
          </br>
          </br>
          <% if @city1 && @city2 %>
              <%= render 'cities/compare1'%>
          <% elsif @city1 %>
              <%=render 'cities/compare2'%>
          <% end %>

  </div>
</body>