<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="sortcut icon" href="../assets/eLugarLogo.ico" type="image/x-icon" />
    <title>êLugar</title>

    <link href="../../assets/stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/stylesheets/landing-page.css" rel="stylesheet">

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<body>

  <%=render 'layouts/navbar' %>
  <div class ="intro-header-compare">
          </br>
          </br>
          </br>
          <% if @city1 && @city2 %>
              <%= render 'cities/compare1'%>
          <% elsif @city1 %>
              <%=render 'cities/compare2'%>
          <% end %>

	</div>

  <div id="container" style="min-width: 400px; max-width: 1000px; height: 600px; margin: 0 auto"></div>


  <script>

  $(function () {

  $('#container').highcharts({

      chart: {
          backgroundColor: '#E7EDDD',
          polar: true,
          type: 'line'
      },

      title: {
          text: 'Belo Horizonte vs Aracaju',
          x: -80
      },

      pane: {
          size: '80%'
      },

      xAxis: {
          categories: ['População', 'Densidade demográfica', 'Tamanho da Cidade', 'Transporte',
                  'IDH', 'Gini', 'Saúde', 'Violência'],
          tickmarkPlacement: 'on',
          lineWidth: 0
      },

      yAxis: {
          gridLineInterpolation: 'polygon',
          lineWidth: 0,
          min: 0
      },

      tooltip: {
          shared: true,
          pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
      },

      legend: {
          align: 'right',
          verticalAlign: 'top',
          y: 70,
          layout: 'vertical'
      },

      series: [{
          name: 'Cidade 1',
          data: [1, 2, 3, 3, 4, 5, 6, 7],
          pointPlacement: 'on'
      }, {
          name: 'Cidade 2',
          data: [3, 4, 5, 12, 13, 14, 20, 15],
          pointPlacement: 'on'
      }]

  });
});
  </script>
